/*******
GENERALS
*******/

body {
	background-color: #9FE1C8;
	color: white;
	font-family: 'Inconsolata', monospace;
}

/**************
SECTION WRAPPER
**************/

#wrapper {
    height: 100vh;
    overflow: hidden;
}

/****************
SECTION GAMECANVA
****************/

#gameCanva {
    
}

    /*******************
    SECTION GENERALINFOS
    *******************/

#generalInfos {
    position: fixed;
    padding: 40px;
}

    /************
    SECTION PANDA
    ************/

#panda {
    display: flex;
    justify-content: center;
}

/**************
SECTION ACTIONS
**************/

